@import '~bootstrap/scss/bootstrap';

body {
    height: 100vh;
    overflow-y: hidden;
}

header {
    height: 60px;
}

.main-wrapper {
    height: calc(100% - 60px);
    .section-container {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        .section {
            height: 100%;
        }
    }
}

aside {
    width: 250px;
    height: calc(100vh - 60px);
    // margin-top: 60px;
    ul {
        list-style: none;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#projects-list {
    list-style: none;
    li {
        margin: 20px 0;
    }
}
